<!--about画面-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-center">
      <br>
      <br>
      <p>carstationは、</p>
      <p>幅広い車好きの人が</p>
      <p>同じ好きな人同士で交流したり</p>
      <p>情報交換をするコミュニティサイトです。</p>
    </div>
    <div class="col-6">
      <%= image_tag 'flag.jpg', :size => '500x250' %>
    </div>
  </div>
</div>




