<!--カテゴリ編集画面(利用者側)-->
<div class="container">
  <div class="row">
    <div class="col-1">
      <div></div>
    </div>
    <div class="col-10">
      <h1>カテゴリ編集</h1>
        <%= form_with model: @category, url: category_path, method: :patch do |f| %>
          <div>
            <div>カテゴリ名</div>
            <div><%= f.text_field :name %></div>
          </div>
          <div>
            <div>説明</div>
            <div><%= f.text_area :body %></div>
          </div>
          <div>
            <div><%= f.submit '変更する', class: 'btn btn-success' %></div>
          </div>
        <% end %>
    </div>
    <div class="col-1">
      <div></div>
    </div>
  </div>
</div>