
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>会員一覧</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <tr class="thread-light">
          <th>会員ID</th>
          <th>名前</th>
          <th>会員ステータス</th>
          <th>状態</th>
        </tr>
        <% @customers.each do |c| %>
          <tr>
            <td><%= c.id %></td>
            <td><%= link_to c.name,admin_user_path(c.id) %></td>
            <td><%= c.experience.name %></td>
            <% if c.is_deleted == false %>
              <td class="text-success"><b>有効会員</b></td>
            <% else %>
             <td class="text-secondary"><b>退会済み</b></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
